importFrom("grDevices", "col2rgb", "nclass.Sturges", "rgb")
importFrom("graphics", ".filled.contour", "par", "points", "polygon", "rect", "segments", "text")
importFrom("stats", "density", "dlnorm", "dnorm", "ecdf", "ppoints", "qlnorm", "qnorm", "quantile")
importFrom("lattice", "panel.polygon", "panel.segments", "current.panel.limits", "trellis.par.get", "panel.points", "panel.rect", "panel.text", "trellis.last.object")

export(denstrip)
export(denstrip.normal)
export(denstrip.legend)
export(densregion)
export(densregion.default)
export(densregion.normal)
export(seqToIntervals)
export(sectioned.density)
export(cistrip)
export(vwstrip)
export(vwstrip.normal)
export(bpstrip)
export(panel.denstrip)
export(panel.denstrip.normal)
export(panel.denstrip.legend)
export(panel.cistrip)
export(panel.vwstrip)
export(panel.vwstrip.normal)
export(panel.bpstrip)
export(panel.sectioned.density)

S3method(densregion, default)
S3method(densregion, normal)
S3method(densregion, survfit)
